@charset UTF-8;

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    margin: 0;
    padding: 0; }

body {
    line-height: 1;
    font-family: Courier,Anonymous,'Courier New','Lucida Console',Monaco,Fixed, monospaced;
    color: #87888a;
    background-color: #000;
    width: 970px;
    margin: auto; }

ol,ul { list-style: none; }

blockquote,q { quotes: none; }

blockquote:before,blockquote:after,q:before,q:after { content: none; }

:focus { outline: 0; }

ins { text-decoration: none; }

del { text-decoration: line-through; }

table {
    border-collapse: collapse;
    border-spacing: 0; }

h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 1.5em;
    text-align: center;
    vertical-align: middle; }

h2 {
    margin-top: 10px;
    margin-bottom: 10px; }

p.doc { margin: 5px; }

a {
    text-decoration: none;
    color: #87888a; }

div.chapter {
    margin-top: 25px;
    margin-bottom: 15px; }

.inputJS input {
    font-family: Courier,Anonymous,'Courier New','Lucida Console',Monaco,Fixed, monospaced;
    color: #87888a;
    font-style: italic; }

.inputJS input[disabled=''],.inputJS input[disabled='disabled'],.inputJS input[disabled='true'],.inputJS input.disabled {
    font-family: Courier,Anonymous,'Courier New','Lucida Console',Monaco,Fixed, monospaced;
    color: #87888a;
    background-color: inherit;
    border: none; }

.inputJS input[type='password'],.inputJS input.password {
    font-family: Courier,Anonymous,'Courier New','Lucida Console',Monaco,Fixed, monospaced;
    color: #87888a;
    font-size: 1.2em; }

a.button {
    text-decoration: none;
    color: #87888a;
    background-color: #EDEDED; }

a.imageSwitch.off {
    width: 40px;
    height: 37px;
    background-image: url(../img/nozap.png);
    display: block; }

#numericSelectorExample3 a.off { background-color: #8e8e8e; }

#numericSelectorExample3 a {
    color: #FFF;
    font-weight: bolder;
    background-color: #ef652e;
    text-decoration: none;
    font-size: 1.3em;
    margin: 3px; }

.collapsablePanel {
    background-color: #EDEDED;
    border-color: #ef652e;
    border-style: solid;
    border-width: 2px;
    }

.collapsed { border-style: none; }

#combo {
    border-color: #ef652e;
    border-style: solid;
    border-width: 5px;
    padding: 20px; }

#combo h2 {
    font-size: 3em;
    font-weight: bolder; }

#combo p { margin-bottom: 15px; }

#combo .button {
    color: #FFF;
    display: block;
    background-color: #ef652e;
    text-transform: uppercase;
    padding: 4px; }

#ExampleNested .inputJS,#ExampleNested .labelPanel { display: block; }

.labelPanel,.inputJS {
    background-color: #EDEDED;
    display: inline; }

.inputJS label,label { margin-right: 2em; }

a.button.disabled,a.off {
    color: #FFF;
    background-color: #EDEDED; }

a.imageButton,a.imageSwitch.on {
    width: 40px;
    height: 37px;
    background-image: url(../img/zap.png);
    display: block; }

a.imageButton span,a.imageSwitch span { display: none; }